<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Battle.Replay]*,[Battle.Contracts]*</Include>
          <ExcludeByFile>**/AssemblyMarker.cs</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
